.todo-pagination {
  .pagination {
    margin: 0;
  }

  ul {
    li {
      &:nth-child(1) {
        margin-right: 15px;
      }

      &:nth-child(2) {
        margin-right: 30px;
      }
    }
  }
}
